header{
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: rgb(163, 222, 73);
    padding: 10px;
    grid-template-rows:50px ;
    margin: -10px;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(203, 222, 222);
}
nav ul{
    list-style-type:none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration:none;
    color: rgb(0, 0, 0);
    font-style: italic;
}
.copy{
    position: absolute;
    margin-left:-25%;
    margin-top: -25px;
    
    color: blue;
}
.faq{
    min-width: 150px; 
     margin-top: 10px;
     padding-bottom: 100%;
    height:700px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 70%;
    padding:10px;
    right: 10px;
  }
  #moreinfo{
    display: flex;
    flex:column;
    background-color: azure;
    width: 100%;
    padding: 20px;
    margin-top:10px;
}
.footerlog{
   margin-left: 10%;
    
}
#ct{
    margin-left: 70%;
}
#contacts{
    background-color: rgb(48, 194, 216);
    position: absolute;
    border: 1px solid rgb(33, 183, 83);
    border-radius:20px;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 350px;
    margin-top: -600px;
    margin-left: 25px;
}

#formm{
    position:relative;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  margin-left: 50px;
   margin-top: 10px;
  
   row-gap: 30px;
}
 #tellme{
    
    position:relative;
    display:flex;
    flex-direction:column;
    margin-top:-200px ;
    margin-left: 500px;
    justify-content: space-between;
    gap: 8px;
    
   
} 
#buttons{
    position:relative;
    width: 63px;
    margin-left: 360px;
    margin-top:100px ;

}
